<div class="title">YÊU CẦU BẠN ĐÃ NHẬN</div>
<div class="card-container">
    {{#each orders}}
    {{#if (equal this.order_status "Chờ giao hàng")}}
    <div class="card button-detail" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{this.ID}}">
        {{!-- <div class="card-header">
            <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
        </div> --}}
        <div class="card-body">
            <span class="tag tag-teal1">{{this.quan}}</span>
            <h3>
                {{#each ../items}}
                {{#if (equal this.order_id ../this.ID)}}
                {{this.item_name}},
                {{/if}}
                {{/each}}
            </h3>
            <p>
                {{this.address}}
            </p>
            <div class="user">
                <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo"
                    alt="user" />
                <div class="user-info">
                    <h5> {{this.name}} </h5>
                    <small>{{formatDate this.time}}</small>
                </div>
            </div>
            {{!-- <button type="button" class="btn btn-danger button-detail" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-id="">Hoàn thành</button> --}}
        </div>
    </div>
    {{/if}}
    {{/each}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết yêu cầu bạn đã nhận</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="order-detail">
                    <div class="order-detail-title">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <hr>
                    <div class="order-detail-body">
                        <h4>Danh sách sản phẩm cần mua</h4>
                        <ul class="list-group" id="list-receive-orders">
                        </ul>
                    </div>
                    <hr>
                    <div class="order-detail-body-done">
                        <h4 style="text-align: center;">Đã xong</h4>
                        <ul class="list-group" id="list-receive-orders-done">
                        </ul>
                    </div>
                    <hr>
                    <div class="input-group mb-3">
                        <form action="" id="confirm-done-order">
                            <input type="text" class="form-control" placeholder="Tổng tiền"
                                aria-label="Recipient's username" aria-describedby="button-addon2" name="cost">
                            <button style="margin: 0;" class="btn btn-danger" type="submit" id="button-addon2">Hoàn
                                thành</button>
                        </form>
                    </div>
                </div>
                {{!-- End body of modal --}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
    function formatDate(date) {
        if (date) {
            let option = { hour: "2-digit", minute: "2-digit", second: "2-digit" };
            return new Date(date).toLocaleDateString("vi-VN", option);
        }
    }
    $(document).ready(function () {
        $('.button-detail').click(function () {
            const id = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: '/receive/accept/details',
                data: { id: id },
                dataType: 'json',
                success: function (res) {
                    if (res) {
                        // console.log(res.orders, res.order_items, res.customer);
                        $('#order-detail .order-detail-title p:first-child').html(`Mã đơn: <strong>${res.orders[0].id}</strong>`);

                        $('#order-detail .order-detail-title p:nth-child(2)').html(`Đã gửi lúc: <strong>${formatDate(res.orders[0].create_time)}</strong>`);

                        $('#order-detail .order-detail-title p:nth-child(3)').html(`Tên khách hàng: <strong>${res.customer[0].last_name} ${res.customer[0].first_name}</strong>`);

                        $('#order-detail .order-detail-title p:nth-child(4)').html(`Địa chỉ nhận: <span class="badge bg-gradient-dark">${res.orders[0].address}</span>`);

                        $('#button-addon2').attr('data-id', `${res.orders[0].id}`);
                    }
                    let li = '';
                    for (let i = 0; i < res.order_items.length; ++i) {
                        li += `<li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">${res.order_items[i].item_name}: ${res.order_items[i].quantity}
                        <button style="border: none; background: none; margin: 0; z-index: 100;" type="button" onclick="doneItem(${res.orders[0].id}, this)" class="btn badge bg-primary rounded" >Xong</button></li>`;

                    }

                    $('#order-detail .order-detail-body ul').html(li);
                }
            });
        });
    })
</script>
<script>
    function doneItem(id, elem) {
        $(document).ready(function () {
            const orderId = $('#order-detail .order-detail-title p:first-child').text().replace("Mã đơn: ", "").trim();
            if (id == orderId) {
               const li = elem.parentNode;
                $('#list-receive-orders-done').append(li);
                $('#list-receive-orders-done li').each(function (e) {
                    let tmp1 = $(this).text().replace("Xong", "");
                    const tmp2 = tmp1.replace(/(\r\n|\n|\r)/gm, "", "").trim();
                    $(this).text(tmp2);
                    $(this).removeClass('list-group-item-danger');
                    $(this).addClass('list-group-item-success');
                });
            }

        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#button-addon2').click(function (e) {
            e.preventDefault();
            const data = {
                id: $(this).data('id'),
                cost: $('#confirm-done-order').serialize().split('=')[1]
            }
            $.ajax({
                type: 'post',
                url: '/receive/accept',
                data: { data },
                success: function (res) {
                    if (res.status == 200) {
                        window.location.reload();
                    }
                }
            });
        });
    });
</script>