<div class="title">YÊU CẦU ĐÃ GỬI</div>
<div class="receive-container">
    <div class="receive-filter">
        <select name="field1" class="receive-field-select">
            <option value="Thủ Đức">Thủ Đức</option>
            <option value="Quận 1">Quận 1</option>
            <option value="Quận 2">Quận 2</option>
            <option value="Quận 3">Quận 3</option>
            <option value="Quận 4">Quận 4</option>
            <option value="Quận 5">Quận 5</option>
        </select>
    </div>
    <div class="receive-tb-container">
        <table id="receive-tb" class="order-table">
            <thead>
                <tr>
                    <th>Mã đơn</th>
                    <th>Tên khách hàng</td>
                    <th>Địa chỉ nhận</th>
                    <th>Thời gian tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                {{#if (equal this.volunteer_id null)}}
                <tr>
                    <td>{{this.order_id}}</td>
                    <td>{{this.last_name}} {{this.first_name}}</td>
                    <td>{{this.address}}</td>
                    <td>{{formatDate this.create_time}}</td>
                    <td>
                        <div class="receive-btn-area">
                            <button type="button" data-id="{{this.order_id}}"
                                class="btn btn-success receive-btn">Nhận</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.receive-btn').click(function () {
            const orderId = $(this).data('id');
            { { !--console.log(orderId); --} }
            $.ajax({
                type: "post",
                url: "/receive/confirm",
                data: { id: orderId },
                dataType: "json",
                success: function (res) {
                    if (res == 200) {
                        window.location.reload();
                    }
                }
            });
        });
    });

</script>