<div class="title">YÊU CẦU ĐÃ GỬI</div>
<div class="receive-container">
    <div class="receive-tb-container">
        <div class="receive-filter">
            <input id="myInput" type="text" placeholder="Tìm kiếm...">
            {{!-- <select class="form-select" aria-label="Default select example">
                <option selected="selected">Khu vực</option>
                <option value="Quận 1">Quận 1</option>

                <option value="Quận 3">Quận 3</option>
                <option value="Quận 4">Quận 4</option>
                <option value="Quận 5">Quận 5</option>
                <option value="Quận 6">Quận 6</option>
                <option value="Quận 7">Quận 7</option>
                <option value="Quận 8">Quận 8</option>
                <option value="Quận 10">Quận 10</option>
                <option value="Quận 11">Quận 11</option>
                <option value="Quận 12">Quận 12</option>
                <option value="Quận Bình Tân">Quận Bình Tân</option>
                <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                <option value="Quận Gò Vấp">Quận Gò Vấp</option>
                <option value="QuậN Phú Nhuận">Quận Phú Nhuận</option>
                <option value="Quận Tân Bình">Quận Tân Bình</option>
                <option value="Quận Tân Phú">Quận Tân Phú</option>
                <option value="Thành phố Thủ Đức">Thành phố Thủ Đức</option>
                <option value="Huyện Bình Chánh">Huyện Bình Chánh</option>
                <option value="Huyện Cần Giờ">Huyện Cần Giờ</option>
                <option value="Huyện Củ Chi">Huyện Củ Chi</option>
                <option value="Huyện Hóc Môn">Huyện Hóc Môn</option>
                <option value="Huyện Nhà Bè">Huyện Nhà Bè</option>
            </select> --}}
        </div>
        <table id="receive-tb" class="order-table">
            <thead>
                <tr>
                    <th>Mã đơn</th>
                    <th>Tên khách hàng</td>
                    <th>Địa chỉ nhận</th>
                    <th>Thời gian tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="receive-body">
                {{#each result}}
                {{#if (equal this.volunteer_id null)}}
                <tr>
                    <td>{{this.order_id}}</td>
                    <td>{{this.last_name}} {{this.first_name}}</td>
                    <td>{{this.address}}</td>
                    <td>{{formatDate this.create_time}}</td>
                    <td>
                        <div class="receive-btn-area">
                            <button type="button" onclick="confirm('Bạn chắc chắn sẽ nhận đơn này?'); return false;"
                                data-id="{{this.order_id}}" class="btn btn-success receive-btn">Nhận</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.receive-btn').click(function (e) {
            e.preventDefault();
            if (confirm('Bạn có chắc chắn nhận yêu cầu này?')) {
                const orderId = $(this).data('id');
                console.log(orderId);
                $.ajax({
                    type: "post",
                    url: "/receive/confirm",
                    data: { id: orderId },
                    dataType: "json",
                    success: function (res) {
                        if (res == 200) {
                            window.location.reload();
                        }
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#receive-body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>