<div class="content-container" id="content-container">
    <div class="overview">
        <div class="admin-summary admin-summary-1">
            <h5>Đã tiếp nhận</h5>
            <h2>{{summary1.numOrders}}</h2>
            <h5>yêu cầu</h5>
        </div>
        <div class="admin-summary admin-summary-2">
            <h5>Hỗ trợ cho</h5>
            <h2>{{summary2.numCus}}</h2>
            <h5>bệnh nhân</h5>
        </div>
        <div class="admin-summary admin-summary-3">
            <h5>Số tình nguyện viên</h5>
            <h2>{{summary3.numVol}}</h2>
        </div>
    </div>
    <div class="chart-container">
        <div class="single-chart">
            {{!-- <form action="/admin/filter-chart" class="chart-filter">
                <select class="form-select" aria-label="Default select example" name="filter-chart">
                    <option disabled="disabled" selected>Tất cả</option>
                    <option value="today">Hôm nay</option>
                    <option value="week">Tuần này</option>
                    <option value="month">Tháng này</option>
                </select>
            </form> --}}
            <div class="chart-1">
                <canvas id="support-chart" width="100%" height="100%"></canvas>
            </div>
        </div>

        <div class="single-chart">
            <form action="" class="chart-filter">
                <select class="form-select" aria-label="Default select example" name="filter-chart"
                    id="chart-filter-select">
                    <option value="all" selected>Tất cả</option>
                    <option value="week">Tuần này</option>
                    <option value="month">Tháng này</option>
                </select>
            </form>
            <div class="chart-2">
                <canvas id="support-done-chart" width="100%" height="100%"></canvas>
            </div>
        </div>
    </div>

    <div class="order-status">
        <h4>Danh sách yêu cầu</h4>
        <table class="order-table" id="support-table">
            <thead>
                <tr>
                    <th>Mã đơn</th>
                    <th>Họ và tên</th>
                    <th>Địa chỉ</th>
                    <th>Thời điểm yêu cầu</th>
                    <th>Thời điểm tiếp nhận</th>
                    <th>Trạng thái</th>
                    <th>Tổng giá trị</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.order_id}}</td>

                    <td>{{this.last_name}} {{this.first_name}}</td>

                    <td>{{this.address}}</td>

                    <td>{{formatDate this.order_create}}</td>

                    {{#if (equal this.receive_time null)}}
                    <td>Chưa có</td>
                    {{else}}
                    <td>{{formatDate this.receive_time}}</td>
                    {{/if}}

                    {{#if (equal this.order_status "Chờ tiếp nhận")}}
                    <td><span class="badge bg-gradient-warning">{{this.order_status}}</span></td>
                    {{/if}}

                    {{#if (equal this.order_status "Chờ giao hàng")}}
                    <td><span class="badge bg-gradient-info">{{this.order_status}}</span></td>
                    {{/if}}

                    {{#if (equal this.order_status "Đã hoàn thành")}}
                    <td><span class="badge bg-gradient-success">{{this.order_status}}</span></td>
                    {{/if}}

                    <td>
                        {{#if this.cost}}
                        {{formatCurrency this.cost}}
                        {{else}}
                        Chưa có
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
    integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: "/admin/member/api/support-done-chart",
            dataType: "json",
            success: function (res) {
                if (res.code == 200) {
                    const total = res.data[0][0]["count(id)"];

                    for (let i = 0; i < res.data[1].length; i++) {
                        if (res.data[1][i].order_status == "Chờ giao hàng") {
                            var shipping = res.data[1][i]["count(order_status)"] * 100 / total;
                            //console.log(shipping);
                        }
                        if (res.data[1][i].order_status == "Chờ tiếp nhận") {
                            var waiting = res.data[1][i]["count(order_status)"] * 100 / total;
                            //console.log(waiting);
                        }
                        if (res.data[1][i].order_status == "Đã hoàn thành") {
                            var done = res.data[1][i]["count(order_status)"] * 100 / total;
                            //console.log(done);
                        }
                    }
                    const ctx2 = document.getElementById('support-done-chart').getContext('2d');
                    var chart_1 = new Chart(ctx2, {
                        type: "pie",
                        data: {
                            labels: ["Đã hoàn thành", "Chờ tiếp nhận", "Chờ giao hàng"],
                            datasets: [{
                                // tension: 0.4,
                                // borderWidth: 0,
                                // pointRadius: 0,
                                // borderColor: "#DA007A",
                                // borderWidth: 0,
                                backgroundColor: ["#cb0c9f", "#17c1e8", "#f53939"],
                                fill: true,
                                data: [done, waiting, shipping]
                            },
                            ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                title: {
                                    display: true,
                                    position: 'top',
                                    text: 'Phần trăm thực hiện yêu cầu tiếp tế',
                                    font: {
                                        size: 20
                                    }
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        font: {
                                            size: 16
                                        }
                                    }
                                }
                            },
                            /*interaction: {
                              intersect: false,
                              mode: 'index',
                            }*/
                        },
                    });
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#chart-filter-select').change(function () {
            const data = $('.chart-filter').serialize();
            $.ajax({
                type: 'post',
                url: '/admin/chart-filter',
                data: { filter: data },
                dataType: 'json',
                success: function (res) {
                    const total = res.data[0][0]["count(id)"];
                    for (let i = 0; i < res.data[1].length; i++) {
                        if (res.data[1][i].order_status == "Chờ giao hàng") {
                            var shipping = res.data[1][i]["count(order_status)"] * 100 / total;
                            //console.log(shipping);
                        }
                        if (res.data[1][i].order_status == "Chờ tiếp nhận") {
                            var waiting = res.data[1][i]["count(order_status)"] * 100 / total;
                            //console.log(waiting);
                        }
                        if (res.data[1][i].order_status == "Đã hoàn thành") {
                            var done = res.data[1][i]["count(order_status)"] * 100 / total;
                            //console.log(done);
                        }
                    }
                    $("canvas#support-done-chart").remove();
                    $("div.chart-2").append('<canvas id="support-done-chart" width="100%" height="100%"></canvas>');
                    const ctx2 = document.getElementById('support-done-chart').getContext('2d');
                    new Chart(ctx2, {
                        type: "pie",
                        data: {
                            labels: ["Đã hoàn thành", "Chờ tiếp nhận", "Chờ giao hàng"],
                            datasets: [{
                                // tension: 0.4,
                                // borderWidth: 0,
                                // pointRadius: 0,
                                // borderColor: "#DA007A",
                                // borderWidth: 0,
                                backgroundColor: ["#cb0c9f", "#17c1e8", "#f53939"],
                                fill: true,
                                data: [done, waiting, shipping]
                            },
                            ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                title: {
                                    display: true,
                                    position: 'top',
                                    text: 'Phần trăm thực hiện yêu cầu tiếp tế',
                                    font: {
                                        size: 20
                                    }
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        font: {
                                            size: 16
                                        }
                                    }
                                }
                            },
                            /*interaction: {
                              intersect: false,
                              mode: 'index',
                            }*/
                        },
                    });
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'get',
            url: '/admin/member/api/support-chart',
            success: function (res) {
                console.log(res.data);
                const data = res.data;
                const tmp_data = [];
                data.forEach((e) => {
                    if (e.order_status == 'Chờ tiếp nhận') {
                        tmp_data[0] = e.numOfOrders; 
                    }
                    if (e.order_status == 'Chờ giao hàng') {
                        tmp_data[1] = e.numOfOrders;
                    }
                    if (e.order_status == 'Đã hoàn thành') {
                        tmp_data[2] = e.numOfOrders;
                    }
                });
                const ctx1 = document.getElementById('support-chart').getContext('2d');
                new Chart(ctx1, {
                    type: "bar",
                    data: {
                        labels: ["Chờ tiếp nhận", "Chờ giao hàng", "Đã hoàn thành"],
                        datasets: [{
                            label: "Số lượng",
                            tension: 0.4,
                            borderWidth: 0,
                            pointRadius: 0,
                            //borderColor: ["#DA007A"],
                            backgroundColor: ["#17c1e8", "#f53939", "#cb0c9f"],
                            fill: true,
                            data: tmp_data,
                            maxBarThickness: 60
                        }],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: false,
                            },
                            title: {
                                display: true,
                                position: 'top',
                                text: 'Biểu đồ tiếp tế hàng tuần',
                                font: {
                                    size: 20
                                }
                            }
                        },
                        interaction: {
                            intersect: false,
                            mode: 'index',
                        },
                        scales: {
                            y: {
                                grid: {
                                    drawBorder: false,
                                    display: true,
                                    drawOnChartArea: true,
                                    drawTicks: false,
                                    borderDash: [5, 5]
                                },
                                ticks: {
                                    display: true,
                                    padding: 10,
                                    color: '#b2b9bf',
                                    font: {
                                        size: 16,
                                        family: "Roboto",
                                        style: 'normal',
                                        lineHeight: 2
                                    },
                                }
                            },
                            x: {
                                grid: {
                                    drawBorder: false,
                                    display: false,
                                    drawOnChartArea: false,
                                    drawTicks: false,
                                    borderDash: [5, 5]
                                },
                                ticks: {
                                    display: true,
                                    color: '#b2b9bf',
                                    padding: 20,
                                    font: {
                                        size: 16,
                                        family: "Roboto",
                                        style: 'normal',
                                        lineHeight: 2
                                    },
                                }
                            },
                        },
                    },
                });
            }
        });
    });
</script>