<div class="content-container" id="content-container">
  <div class="order-status">
    <h4>Danh sách tình nguyện viên</h4>
    <table class="order-table" id="volunteer-list">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>Yêu cầu đã nhận</th>
          <th>Yêu cầu hoàn thành</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        {{#if (equal this.accept "T")}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{formatDate this.create_time}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.phone_number}}</td>

          {{#each ../orders}}
            {{#if (equal this.account_id ../this.id)}}
              {{#if (equal this.order_status "Chờ giao hàng")}}
                <td>{{this.numOfOrders}}</td>
              {{/if}}
              {{#if (equal this.order_status "Đã hoàn thành")}}
                <td>{{this.numOfOrders}}</td>
              {{else}}
                <td>0</td>
              {{/if}}
            {{/if}}
          {{/each}}
        </tr>
        {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="order-status">
    <h4>Danh sách yêu cầu tình nguyện</h4>
    <table class="order-table" id="volunteer-request">
      <thead>
        <tr>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        {{#if (equal this.accept "F")}}
        <tr>
          <td>{{formatDate this.create_time}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.phone_number}}</td>
          <td>{{this.email}}</td>
          <td><button class="btn bg-gradient-success admin-accept-volunteer"
              onclick="confirm('Bạn có chắc chắn chấp nhận tình nguyện viên này hoạt động?')" data-id="{{this.id}}">Chấp
              nhận yêu cầu</button></td>
        </tr>
        {{/if}}
        {{/each}}

      </tbody>
    </table>
  </div>

</div>
<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.admin-accept-volunteer').click(function () {
      const id = $(this).data('id');
      $.ajax({
        type: 'post',
        url: '/admin/member/accept',
        data: { id: id },
        dataType: 'json',
        success: function (res) {
          if (res.status == 200) {
            window.location.href = "/admin/member";
          }
        }
      });
    });
  });

</script>