<div class="content-container" id="content-container">
  <div class="order-status">
    <h4>Danh sách tình nguyện viên</h4>
    <table class="order-table" id="volunteer-list">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>Yêu cầu đã nhận</th>
          <th>Yêu cầu hoàn thành</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}  
        {{#if (equal this.accept "T")}}  
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.create_time}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.phone_number}}</td>
          <td>1</td>
          <td>1</td>
        </tr>
        {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="order-status">
    <h4>Danh sách yêu cầu tình nguyện</h4>
    <table class="order-table" id="volunteer-request">
      <thead>
        <tr>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        {{#if (equal this.accept "F")}}
        <tr>
          <td>{{formatDate this.create_time}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.phone_number}}</td>
          <td>{{this.email}}</td>
          <td><button class="btn bg-gradient-success">Chấp nhận yêu cầu</button></td>
        </tr>
        {{/if}}
        {{/each}}

      </tbody>
    </table>
  </div>

</div>