<div id="content-container" class="content-container">
    <div class="title" style="margin-bottom: 0px;">Danh sách đơn yêu cầu</div><br>
    <div class="waiting-content">
        <table class="list">
            <tr>
                <th>Mã đơn</th>
                <th>Thời gian tạo</th>
                <th>Nội dung</th>
                <th></th>
            </tr>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.idOrder}}</td>
                    <td>{{this.createAt}}</td>
                    <td style="text-align: left;">
                        {{this.items}}
                    </td>
                    <td>
                        
                        {{!-- <button type="button" class="button-detail" onclick="modalDetail({{this.idOrder}})">Chi tiết</button> --}}
                        {{#if this.gotTime  }}
                            <a href="/waiting/{{this.idOrder}}">
                            <button type="button" class="button-detail-1">Chi tiết</button>
                            </a>
                        {{else}}
                            <a href="/waiting/{{this.idOrder}}">
                            <button type="button" class="button-detail-0">Chi tiết</button>
                            </a>
                        {{!-- <button type="button" class="button-detail">Sửa</button>
                        <button type="button" class="button-detail">Xóa</button> --}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td>#5678</td>
                    <td>8:03 12/10/2021</td>
                    <td>
                        <div class="detail-buttons">Dưa hấu, cá hú, thịt ba rọi,...</div>
                    </td>
                    <td>
                        <button type="button" class="button-detail-0">Chi tiết</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="note">*Đội tình nguyễn đã nhận yêu cầu của bạn, chúng tôi sẽ sớm liên lạc với bạn.</p>

    <div class="card-modal">
        <div class="card-modal-header">
            <div class="user">
                <div class="user-info">
                    <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo"
                        alt="user" />
                    <h5>Thúy Ngân</h5>
                </div>
                <div class="user-info-address">
                    <h5>Mã đơn: #1234</h5>
                    <p>Địa chỉ: 123, đường số 4, quận Bình Tân</p>
                </div>
            </div>
        </div>
        <div class="card-modal-body">
            <h5 class="card-modal-body-title">Danh sách cần mua</h5>
            <div class="card-modal-body-content">
                <div class="card-item-container">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-success"><i class="material-icons">done</i></button>
                        <button class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
                    </div>
                </div>


                <div class="card-item-container">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-success"><i class="material-icons">done</i></button>
                        <button class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
                    </div>
                </div>


                <div class="card-item-container">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-success"><i class="material-icons">done</i></button>
                        <button class="btn btn-outline-danger"><i class="material-icons">delete</i></button>
                    </div>
                </div>

                {{!-- Completed --}}

                <h5 class="card-modal-body-title">Đã mua</h5>

                <div class="card-item-container item-completed">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-light"><i class="material-icons">delete</i></button>
                    </div>
                </div>
                <div class="card-item-container item-completed">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-light"><i class="material-icons">delete</i></button>
                    </div>
                </div>
                <div class="card-item-container item-completed">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-light"><i class="material-icons">delete</i></button>
                    </div>
                </div>
                <div class="card-item-container item-completed">
                    <h4>Thịt bò</h4>
                    <h4>2kg</h4>
                    <div>
                        <button class="btn btn-outline-light"><i class="material-icons">delete</i></button>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tổng tiền" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <button class="btn btn-danger" type="button" id="button-addon2">Hoàn thành</button>
            </div>
            <button type="button" class="btn btn-light btn-collapse" onclick="closeModal()">
                >>>
            </button>
        </div>


    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    const cardModal = document.querySelectorAll('.card-modal');
    function modalDetail(e) {
        console.log(cardModal);
        //if (!cardModal[e - 1].classList.contains('modal-active')) {
            cardModal[0].classList.add('modal-active');
        //}
        //if (!$('.card-modal').hasClass('modal-active')) {
        //   $('.card-modal').addClass('modal-active');
        //}

    }
    function closeModal() {
        console.log('Close');
        $('.card-modal').removeClass('modal-active');
    }
</script>