<div id="content-container" class="content-container">
    <div class="title">Danh sách đơn yêu cầu đã gửi</div><br>
    <div class="waiting-content">
        <table class="list">
            <tr>
                <th>Mã đơn</th>
                <th>Thời gian tạo</th>
                <th>Nội dung</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            <tbody>

                {{#each orders}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{formatDate this.create_time}}</td>
                    <td>
                        {{#each ../items}}
                        {{#if (equal this.order_id ../this.id)}}
                        {{this.item_name}},
                        {{/if}}
                        {{/each}}
                    </td>
                    <td>
                        {{#if (equal this.order_status "Đã gửi")}}
                        <span class="badge bg-gradient-danger">{{this.order_status}}</span>
                        {{/if}}
                    </td>
                    <td>
                        <button type="button" class="btn bg-gradient-light button-detail" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{this.id}}">Chi tiết</button>
                    </td>
                </tr>
                {{/each}}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="note">*Đội tình nguyễn đã nhận yêu cầu của bạn, chúng tôi sẽ sớm liên lạc với bạn.</p>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết yêu cầu của bạn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>

                {{!-- Body of modal --}}

                <div class="modal-body" id="order-detail">
                    
                </div>

                {{!-- End body of modal --}}

                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-gradient-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>