<div id="content-container" class="content-container">
    <div class="title" style="margin-bottom: 0px;">Danh sách đơn yêu cầu</div><br>
    <div class="waiting-content">
        <table class="list">
            <tr>
                <th>Mã đơn</th>
                <th>Thời gian tạo</th>
                <th>Nội dung</th>
                <th></th>
            </tr>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.idOrder}}</td>
                    <td style="text-align: left;">
                        {{this.items}}
                    </td>
                    <td>
                        
                        {{!-- <button type="button" class="button-detail" onclick="modalDetail({{this.idOrder}})">Chi tiết</button> --}}
                        {{#if this.gotTime  }}
                            <a href="/waiting/{{this.idOrder}}">
                            <button type="button" class="button-detail-1">Chi tiết</button>
                            </a>
                        {{else}}
                            <a href="/waiting/{{this.idOrder}}">
                            <button type="button" class="button-detail-0">Chi tiết</button>
                            </a>
                        {{!-- <button type="button" class="button-detail">Sửa</button>
                        <button type="button" class="button-detail">Xóa</button> --}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="note">*Đội tình nguyễn đã nhận yêu cầu của bạn, chúng tôi sẽ sớm liên lạc với bạn.</p>
</div>


<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
